<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>Requisição de Desligamento para Aprovação</h2>
    <table border="1">
        <tr>
            <th>Requisitante</th>
            <th>Colaborador a ser Desligado</th>
            <th>Função</th>
            <th>Data de Solicitação</th>
            <th>Assinatura Diretor</th>
            <th>Data Assinatura Diretor</th>
            <th>Assinatura Presidente</th>
            <th>Data Assinatura Presidente</th>
            <th>Assinatura RH</th>
            <th>Data Assinatura RH</th>
            <th>Tempo para Aprovação (dias)</th>
        </tr>
        {% for registro in registros %}
        <tr>
            <td>{{ registro.requisitante }}</td>
            <td>{{ registro.colaborador_desligado }}</td>
            <td>{{ registro.funcao }}</td>
            <td>{{ registro.data_solicitacao|date:"d/m/Y H:i" }}</td>
            <td>
                {% if registro.assinatura_diretor %}
                    <p>Aprovado pelo Diretor:</p>
                    <img src="{{ registro.assinatura_diretor.url }}" alt="Assinatura Diretor" style="height: 100px;">
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="registro_id" value="{{ registro.id }}">
                        <input type="hidden" name="tipo_registro" value="rd">
                        <button type="submit">Aprovar com Assinatura</button>
                    </form>
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_diretor %}
                    {{ registro.data_autorizacao_diretor|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>    
                {% if registro.assinatura_presidente %}
                    <img src="{{ registro.assinatura_presidente.url }}" alt="Assinatura Presidente" style="height: 100px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_presidente %}
                    {{ registro.data_autorizacao_presidente|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>    
                {% if registro.assinatura_rh %}
                    <img src="{{ registro.assinatura_rh.url }}" alt="Assinatura RH" style="height: 100px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_rh %}
                    {{ registro.data_autorizacao_rh|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.dias_para_autorizacao_diretor is not None %}
                    {% if registro.dias_para_autorizacao_diretor == 0 %}
                        Aprovado no mesmo dia
                    {% else %}
                        {{ registro.dias_para_autorizacao_diretor }} dias
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>