<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>Requisição de Pessoal para Aprovação</h2>
    <table border="1">
        <tr>
            <th>Requisitante</th>
            <th>Data de Solicitação</th>
            <th>Cargo</th>
            <th>Base</th>
            <th>Assinatura Diretor</th>
            <th>Data Autorização Diretor</th>
            <th>Assinatura Presidente</th>
            <th>Data Autorização Presidente</th>
            <th>Assinatura RH</th>
            <th>Data Autorização RH</th>
            <th>Tempo para Autorização (dias)</th>
        </tr>
    
        <!-- Registros principais -->
        {% for registro in registros %}
        <tr>
            <td>{{ registro.requisitante }}</td>
            <td>{{ registro.data_solicitacao|date:"d/m/Y H:i" }}</td>
            <td>{{ registro.cargo }}</td>
            <td>{{ registro.base }}</td>
            <td>    
                {% if registro.assinatura_diretor %}
                    <img src="{{ registro.imagem_assinatura_diretor.url }}" alt="Assinatura Diretor" style="height: 50px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_diretor %}
                    {{ registro.data_autorizacao_diretor|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_presidente %}
                    <p>Aprovado pelo Presidente:</p>
                    <img src="{{ registro.imagem_assinatura_presidente.url }}" alt="Assinatura Presidente" style="height: 50px;">
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="registro_id" value="{{ registro.id }}">
                        <input type="hidden" name="tipo_registro" value="rp">
                        <button type="submit">Aprovar com Assinatura</button>
                    </form>
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_presidente %}
                    {{ registro.data_autorizacao_presidente|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>    
                {% if registro.assinatura_rh %}
                    <img src="{{ registro.imagem_assinatura_rh.url }}" alt="Assinatura RH" style="height: 50px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_rh %}
                    {{ registro.data_autorizacao_rh|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.dias_para_autorizacao_presidente is not None %}
                    {% if registro.dias_para_autorizacao_presidente == 0 %}
                        Aprovado no mesmo dia
                    {% else %}
                        {{ registro.dias_para_autorizacao_presidente }} dias
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>