{% for registro in registros %}

    <!--Detalhes de Requisição de Pessoal-->
    {% if registro.tipo == "RP" %}
        <div class="modal" id="modalRP{{ registro.id }}" tabindex="-1" aria-labelledby="modalLabel{{ registro.id }}" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header bg-warning text-dark">
                  <h5 class="modal-title">Detalhes da Requisição Pessoal Nº 1</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                  <p><strong>Requisitante:</strong> {{ registro.requisitante }}</p>
                  <p><strong>Cargo:</strong> {{ registro.cargo }}</p>
                  <p><strong>Salário:</strong> R$ {{ registro.salario }}</p>
                  <p><strong>Adicionais:</strong> R$ {{ registro.adicionais }}</p>
                  <p><strong>Quantidade de Vagas:</strong> {{ registro.quantidade_vagas }}</p>
                  <p><strong>Horário de Trabalho:</strong> {{ registro.horario_trabalho_inicio }} às {{ registro.horario_trabalho_fim }}</p>
                  <p><strong>Tipo de Ponto:</strong> {{ registro.tipo_ponto }}</p>
                  <p><strong>Início do Contrato:</strong> {{ registro.inicio_contrato }}</p>
                  <p><strong>Término do Contrato:</strong> {{ registro.termino_contrato }}</p>
                  <p><strong>Tipo de Contratação:</strong> {{ registro.tipo_contratacao }}</p>
                  <p><strong>Motivo da Contratação:</strong> {{ registro.motivo_contracao }}</p>
                  <p><strong>Benefícios:</strong> {{ registro.beneficios }}</p>
                  <p><strong>Substituição:</strong> {{ registro.subtituicao }}</p>
                  <p><strong>Justificativa:</strong> {{ registro.justificativa_substituicao }}</p>
                  <p><strong>Processo Seletivo:</strong> {{ registro.processo_seletivo }}</p>
                  <p><strong>Localidade:</strong> {{ registro.localidade }}</p>
                  <p><strong>Base:</strong> {{ registro.base }}</p>
                  <p><strong>Sexo:</strong> {{ registro.sexo }}</p>
                  <p><strong>Exige Viagem:</strong> {{ registro.exige_viagem }}</p>
                  <p><strong>CNH:</strong> {{ registro.cnh }} {% if registro.outros_cnh %}({{ registro.outros_cnh }}){% endif %}</p>
                  <p><strong>Departamento:</strong> {{ registro.departamento }}</p>
                  <p><strong>Escolaridade:</strong> {{ registro.escolaridade }}</p>
                  <p><strong>Gestor Imediato:</strong> {{ registro.gestor_imediato }}</p>
                  <p><strong>Centro de Custo:</strong> {{ registro.centro_custo }}</p>
                  <p><strong>Cursos:</strong> {{ registro.cursos }}</p>
                  <p><strong>Experiências:</strong> {{ registro.experiencias }}</p>
                  <p><strong>Habilidades:</strong> {{ registro.habilidades_comportamentais }}</p>
                  <p><strong>Principais Atribuições:</strong> {{ registro.principais_atribuicoes }}</p>
                  <p><strong>Candidato Aprovado:</strong> {{ registro.candidato_aprovado }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
        </div>

    <!--Detalhes de Movimentaçaõ de Pessoal-->
    {% elif registro.tipo == "MOV" %}
        <div class="modal fade" id="modalMOV{{ registro.id }}" tabindex="-1" aria-labelledby="modalMovLabel{{ registro.id }}" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-light text-dark">
                    <div class="modal-header bg-warning text-dark">
                        <h5 class="modal-title" id="modalMovLabel{{ registro.id }}">Detalhes da Movimentação Nº {{ registro.n_mov }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Colaborador:</strong> {{ registro.colaborador_movimentado }}</p>
                        <p><strong>Matrícula:</strong> {{ registro.matricula }}</p>
                        <p><strong>Data de Admissão:</strong> {{ registro.data_admissao }}</p>
                        <p><strong>Tipo de Movimentação:</strong> {{ registro.tipo_movimentacao }} {% if registro.outro_tipo %} ({{ registro.outro_tipo }}) {% endif %}</p>
                        <p><strong>Localidade Atual:</strong> {{ registro.localidade_atual }}</p>
                        <p><strong>Cargo Atual:</strong> {{ registro.cargo_atual }}</p>
                        <p><strong>Departamento Atual:</strong> {{ registro.departamento_atual }}</p>
                        <p><strong>Salário Atual:</strong> R$ {{ registro.salario_atual }}</p>
                        <p><strong>Gestor Atual:</strong> {{ registro.gestor_atual }}</p>
                        <p><strong>Centro de Custo Atual:</strong> {{ registro.centro_custo_atual }}</p>
                        <hr>
                        <p><strong>Localidade Proposta:</strong> {{ registro.localidade_proposta }}</p>
                        <p><strong>Cargo Proposto:</strong> {{ registro.cargo_proposto }}</p>
                        <p><strong>Departamento Proposto:</strong> {{ registro.departamento_proposto }}</p>
                        <p><strong>Salário Proposto:</strong> R$ {{ registro.salario_proposto }}</p>
                        <p><strong>Gestor Proposto:</strong> {{ registro.gestor_proposto }}</p>
                        <p><strong>Centro de Custo Proposto:</strong> {{ registro.centro_custo_proposto }}</p>
                        <p><strong>Data da Movimentação:</strong> {{ registro.data_movimentacao }}</p>
                        <p><strong>Tipo de Adicional:</strong> {{ registro.tipo_adicional }}</p>
                        <p><strong>Ajuda de Custo:</strong> {{ registro.tipo_ajuda_custo }} - R$ {{ registro.valor_ajuda }}</p>
                        <p><strong>Período:</strong> {{ registro.periodo }}</p>
                        <p><strong>Justificativa:</strong> {{ registro.jutificativa_movimentacao }} {% if registro.outro_justificativa %} ({{ registro.outro_justificativa }}){% endif %}</p>
                        <p><strong>Substituição:</strong> {{ registro.substituicao }}</p>
                        <p><strong>Comentários:</strong> {{ registro.comentarios }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    <!--Detalhes de Requisição de Desligamento-->    
    {% elif registro.tipo == "RD" %}
        <div class="modal fade" id="modalRD{{ registro.id }}" tabindex="-1" aria-labelledby="modalRDLabel{{ registro.id }}" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-light text-dark">
                    <div class="modal-header bg-warning text-dark">
                        <h5 class="modal-title" id="modalRDLabel{{ registro.id }}">Detalhes da Requisição de Desligamento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Requisitante:</strong> {{ registro.requisitante }}</p>
                        <p><strong>Colaborador Desligado:</strong> {{ registro.colaborador_desligado }}</p>
                        <p><strong>Matrícula:</strong> {{ registro.matricula }}</p>
                        <p><strong>Data de Admissão:</strong> {{ registro.data_admissao }}</p>
                        <p><strong>Data de Desligamento:</strong> {{ registro.data_desligamento }}</p>
                        <p><strong>Função:</strong> {{ registro.funcao }}</p>
                        <p><strong>Salário:</strong> R$ {{ registro.salario }}</p>
                        <p><strong>Localidade:</strong> {{ registro.localidade }}</p>
                        <p><strong>Centro de Custo:</strong> {{ registro.centro_custo }}</p>
                        <p><strong>Tipo de Desligamento:</strong> {{ registro.tipo_desligamento }}</p>
                        <p><strong>Motivo do Desligamento:</strong> {{ registro.motivo_desligamento }} {% if registro.outro_motivo %} ({{ registro.outro_motivo }}) {% endif %}</p>
                        <p><strong>Justificativa do Desligamento:</strong> {{ registro.justificativa_desligamento }}</p>
                        <p><strong>Tipo de Aviso:</strong> {{ registro.tipo_aviso }}</p>
                        <p><strong>Justificativa do Aviso:</strong> {{ registro.justificativa_aviso }}</p>
                        <p><strong>Substituição:</strong> {{ registro.substituicao }}</p>
                        <p><strong>Bloqueio para Re-Admissão:</strong> {{ registro.bloqueio_readmissao|yesno:"Sim,Não" }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
{% endfor %}