<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Página do Cômplice</title>
</head>
<body>
    <h2>Movimentações Pendentes para Aprovação do Complice</h2>
    <table border="1">
        <tr>
            <th>Gestor Atual</th>
            <th>Colaborador a ser movimentado</th>
            <th>Cargo Proposto</th>
            <th>Data de Solicitação</th>
            <th>Assinatura Diretor</th>
            <th>Data Aprovação Complice</th>
            <th>Tempo para Aprovação (dias)</th>
        </tr>
        {% for registro in movimentacao %}
        <tr>
            <td>{{ registro.gestor_atual }}</td>
            <td>{{ registro.colaborador_movimentado }}</td>
            <td>{{ registro.cargo_proposto }}</td>
            <td>{{ registro.data_solicitacao|date:"d/m/Y H:i" }}</td>
    
            <td>
                {% if registro.assinatura_complice %}
                    <p>Aprovado pelo Complice:</p>
                    <img src="{{ registro.assinatura_complice.url }}" alt="Assinatura Complice" style="height: 100px;">
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="registro_id" value="{{ registro.id }}">
                        <input type="hidden" name="tipo_registro" value="rp">
                        <button type="submit">Aprovar com Assinatura</button>
                    </form>
                {% endif %}
            </td>
    
            <td>
                {% if registro.assinatura_complice %}
                    {{ registro.data_autorizacao_complice|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
    
            <td>
                {% if registro.dias_para_autorizacao_complice is not None %}
                    {% if registro.dias_para_autorizacao_complice == 0 %}
                        Aprovado no mesmo dia
                    {% else %}
                        {{ registro.dias_para_autorizacao_complice }} dias
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    
    
  <a href="{% url 'logout' %}">Sair</a>
</body>
</html>