<!-- templates/conexaorh/presidente.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página do Presidente</title>
</head>
<body>
    <a href="{% url 'presidente_rp' %}">Requisição de Pessoal</a>
    <a href="{% url 'presidente_mov' %}">Movimentação de Pessoal</a>
    <a href="{% url 'presidente_rd' %}">Requisição de Desligamento</a>
    <a href="{% url 'registros_presidente' %}">Registros do Presidente</a>
    <h1>Bem-vindo à Página do Presidente, {{ usuario.first_name }} {{ usuario.last_name }}</h1>
    <p>Esta é a área exclusiva para usuários do tipo Presidente.</p>

    <a href="{% url 'logout' %}">Sair</a>
</body>
</html>
