<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros do RH</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nº</th>
                <th>Data de Solicitação</th>
                <th>Baixar excel</th>
            </tr>
        </thead>
            <tbody>
                {% for registro in registros %}
                    <tr>
                        <td>{{ registro.tipo }}</td>
                        <td>
                            {% if registro.tipo == "RP" %}
                                {{ registro.n_rp }}
                            {% elif registro.tipo == "MOV" %}
                                {{ registro.n_mov }}
                            {% else %}
                                RD
                            {% endif %}
                        </td> 
                        <td>{{ registro.data_solicitacao|date:"d/m/Y" }}</td>
                        <td>
                            {% if registro.tipo == 'RP' %}
                            <a href="{% url 'download_rp_excel' registro.id %}">
                                <button>Baixar Excel</button>
                            </a>
                            {% endif %}

                            {% if registro.tipo == 'MOV' %}
                            <a href="{% url 'download_mov_excel' registro.id %}">
                                <button>Baixar Excel</button>
                            </a>
                            {% endif %}

                            {% if registro.tipo == 'RD' %}
                            <a href="{% url 'download_rd_excel' registro.id %}">
                                <button>Baixar Excel</button>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">Nenhum registro encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</body>
</html>