<!-- templates/conexaorh/rh.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página do RH</title>
</head>
<body>
    <a href="{% url 'rh_rp' %}">Requisição de Pessoal</a>
    <a href="{% url 'rh_mov' %}">Movimentação de Pessoal</a>
    <a href="{% url 'rh_rd' %}">Requisição de Desligamento</a>
    <a href="{% url 'registros_rh' %}">Registros do RH</a>
    <h1>Bem-vindo à Página do RH - DP</h1>
    <p>Esta é a área exclusiva para usuários do tipo RH.</p>

    <a href="{% url 'logout' %}">Sair</a>
</body>
</html>
