<!-- templates/conexaorh/rh.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página do RH</title>
</head>
<body>
    <a href="{% url 'rh_rp' %}">Requisição de Pessoal</a>
    <a href="{% url 'rh_mov' %}">Movimentação de Pessoal</a>
    <a href="{% url 'rh_rd' %}">Requisição de Desligamento</a>
    <a href="{% url 'registros_rh' %}">Registros do RH</a>
    <h1>Bem-vindo à Página do RH - DP</h1>
    <p>Esta é a área exclusiva para usuários do tipo RH.</p>

    <h2>Requisição de Pessoal para Aprovação</h2>
    <table border="1">
        <tr>
            <th>Requisitante</th>
            <th>Data de Solicitação</th>
            <th>Cargo</th>
            <th>Base</th>
            <th>Assinatura Diretor</th>
            <th>Data Autorização Diretor</th>
            <th>Assinatura Presidente</th>
            <th>Data Assinatura Presidente</th>
            <th>Assinatura RH</th>
            <th>Data Autorização RH</th>
            <th>Tempo para Autorização (dias)</th>
            <th>Download Excel</th>
        </tr>
        {% for registro in rp %}
        <tr>
            <td>{{ registro.requisitante }}</td>
            <td>{{ registro.data_solicitacao|date:"d/m/Y H:i" }}</td>
            <td>{{ registro.cargo }}</td>
            <td>{{ registro.base }}</td>
            <td>    
                {% if registro.assinatura_diretor %}
                    <img src="{{ registro.assinatura_diretor.url }}" alt="Assinatura Diretor" style="height: 100px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_diretor %}
                    {{ registro.data_autorizacao_diretor|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
    
            <td>    
                {% if registro.assinatura_presidente %}
                    <img src="{{ registro.assinatura_presidente.url }}" alt="Assinatura Presidente" style="height: 100px;">
                {% else %}
                    -
                {% endif %}
            </td>

            <td>
                {% if registro.assinatura_presidente %}
                    {{ registro.data_autorizacao_presidente|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_rh %}
                    <p>Aprovado pelo RH:</p>
                    <img src="{{ registro.assinatura_rh.url }}" alt="Assinatura RH" style="height: 100px;">
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="registro_id" value="{{ registro.id }}">
                        <input type="hidden" name="tipo_registro" value="rp">
                        <button type="submit">Aprovar com Assinatura</button>
                    </form>
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_rh %}
                    {{ registro.data_autorizacao_rh|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.dias_para_autorizacao_rh == 0 %}
                    Aprovado no mesmo dia
                {% else %}
                    {{ registro.dias_para_autorizacao_rh|default:"-" }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'download_rp_excel' registro.id %}">
                    <button>Baixar Excel</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Movimentação de Pessoal para Aprovação</h2>
    <table border="1">
        <tr>
            <th>Gestor Atual</th>
            <th>Colaborador a ser movimentado</th>
            <th>Cargo Proposto</th>
            <th>Data de Solicitação</th>
            <th>Assinatura Diretor</th>
            <th>Data Aprovação Diretor</th>
            <th>Assinatura Presidente</th>
            <th>Data Aprovação Presidente</th>
            <th>Assinatura RH</th>
            <th>Data Aprovação RH</th>
            <th>Tempo para Aprovação (dias)</th>
            <th>Download Excel</th>
        </tr>
        {% for registro in movimentacao %}
        <tr>
            <td>{{ registro.gestor_atual }}</td>
            <td>{{ registro.colaborador_movimentado }}</td>
            <td>{{ registro.cargo_proposto }}</td>
            <td>{{ registro.data_solicitacao|date:"d/m/Y" }}</td>
            <td>    
                {% if registro.assinatura_diretor %}
                    <img src="{{ registro.assinatura_diretor.url }}" alt="Assinatura Diretor" style="height: 100px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_diretor  %}
                    {{ registro.data_autorizacao_diretor|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>    
                {% if registro.assinatura_presidente %}
                    <img src="{{ registro.assinatura_presidente.url }}" alt="Assinatura Presidente" style="height: 100px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_presidente %}
                    {{ registro.data_autorizacao_presidente|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_rh %}
                    <p>Aprovado pelo RH:</p>
                    <img src="{{ registro.assinatura_rh.url }}" alt="Assinatura RH" style="height: 100px;">
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="registro_id" value="{{ registro.id }}">
                        <input type="hidden" name="tipo_registro" value="movimentacao">
                        <button type="submit">Aprovar com Assinatura</button>
                    </form>
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_rh %}
                    {{ registro.data_autorizacao_rh|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.dias_para_autorizacao_rh is not None %}
                    {% if registro.dias_para_autorizacao_rh == 0 %}
                        Aprovado no mesmo dia
                    {% else %}
                        {{ registro.dias_para_autorizacao_rh }} dias
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                <a href="{% url 'download_mov_excel' registro.id %}">
                    <button>Baixar Excel</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Requisição de Desligamento para Aprovação</h2>
    <table border="1">
        <tr>
            <th>Requisitante</th>
            <th>Colaborador a ser Desligado</th>
            <th>Função</th>
            <th>Data de Solicitação</th>
            <th>Assinatura Diretor</th>
            <th>Data Assinatura Diretor</th>
            <th>Assinatura Presidente</th>
            <th>Data Assinatura Presidente</th>
            <th>Assinatura RH</th>
            <th>Data Assinatura RH</th>
            <th>Tempo para Autorização (dias)</th>
            <th>Download Excel</th>
        </tr>
        {% for registro in rd %}
        <tr>
            <td>{{ registro.requisitante }}</td>
            <td>{{ registro.colaborador_desligado }}</td>
            <td>{{ registro.funcao }}</td>
            <td>{{ registro.data_solicitacao|date:"d/m/Y H:i" }}</td>
            <td>    
                {% if registro.assinatura_diretor %}
                    <img src="{{ registro.assinatura_diretor.url }}" alt="Assinatura Diretor" style="height: 100px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_diretor %}
                    {{ registro.data_autorizacao_diretor|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>    
                {% if registro.assinatura_presidente %}
                    <img src="{{ registro.assinatura_presidente.url }}" alt="Assinatura Presidente" style="height: 100px;">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_presidente %}
                    {{ registro.data_autorizacao_presidente|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_rh %}
                    <p>Aprovado pelo RH:</p>
                    <img src="{{ registro.assinatura_rh.url }}" alt="Assinatura RH" style="height: 100px;">
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="registro_id" value="{{ registro.id }}">
                        <input type="hidden" name="tipo_registro" value="rd">
                        <button type="submit">Aprovar com Assinatura</button>
                    </form>
                {% endif %}
            </td>
            <td>
                {% if registro.assinatura_rh  %}
                    {{ registro.data_autorizacao_rh|date:"d/m/Y H:i" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if registro.dias_para_autorizacao_rh is not None %}
                    {% if registro.dias_para_autorizacao_rh == 0 %}
                        Aprovado no mesmo dia
                    {% else %}
                        {{ registro.dias_para_autorizacao_rh }} dias
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                <a href="{% url 'download_rd_excel' registro.id %}">
                    <button>Baixar Excel</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'logout' %}">Sair</a>
</body>
</html>
